<header class="header" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        th:fragment="header">

    <span class="logo">
        <a href="/">
            <img src="https://cdn1.iconfinder.com/data/icons/cat-yoga-pose-and-asana-meditation-zen-namaste/100/pose11-512.png" alt="">
        </a>
    </span>

    <nav>
        <a href="/">Главная страница</a>
        <a href="/about-us">О Нас</a>


        <span sec:authorize="!isAuthenticated()">
            <a href="/reg">Регистрация</a>
            <a href="/login">Авторизация</a>
         </span>

        <span sec:authorize="isAuthenticated()">
            <a href="/user">Кабинет Пользователя</a>
            <a href="/asana/add">Добавить Ассану</a>
            <a href="/cart-asanas/">Мои асаны</a>
         </span>

        <span sec:authorize="hasAuthority('ADMIN')">  
        <a href="/admin">Панель админа</a>
        </span>
    </nav>
</header>