<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить Асану</title>
    <div th:replace="layouts/favicon :: favicon"></div>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>

<main class="container">

    <form class="form" method="post" th:action="@{/asana/add}">
        <h1>Добавить Асану</h1>
        <input type="text" name="title" placeholder="Введите название Ассаны">
        <input type="url" name="image" placeholder="Введите URL Asana">
        <textarea name="info" placeholder="Введите описание"></textarea>
        <textarea name="positiveEffects" placeholder="Введите положительные эффекты"></textarea>
        <textarea name="negativeEffects" placeholder="Введите отрицательные эффекты"></textarea>
<!--        <textarea name="fullInfo" placeholder="Введите полное описание"></textarea><br>-->
        <div class="error" th:text="${error}"></div>
        <button class="button" type="submit">Добавить</button>
    </form>

</main>

</body>
</html>