<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Последовательность Асан</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}">

</head>
<body>
<div th:replace="layouts/header :: header"></div>


<main class="container">

  <div class="asana">
  <div th:each="el : ${user_asanas}" th:if="${!user_asanas.isEmpty()}">
    <img th:src="${el.asana.image}" th:alt="${el.asana.title}"/>
    <h3 th:text="${el.asana.title}" />

    <form  method="post" th:action="@{'/cart-asanas/' + ${el.id} + '/delete'}" >
      <button class="icon" type="submit">
          <img th:src="@{/icon/basket.png}">
      </button>
    </form>

  </div>
  </div>
    <div th:if="${user_asanas.isEmpty()}" class="block">
     <h4>У вас пока еще нет асан</h4>
   </div>
</main>
<div th:replace="layouts/footer :: footer"></div>


</body>
</html>