<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      >
<head>
  <meta charset="UTF-8">
  <title>Ошибка 404</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}">

</head>
<body>
<div th:replace="layouts/header :: header"></div>

<main class="container">
  <div class="block">
      <h1>Что-то пошло не так!! :(</h1>
    <span class="logo">
                 <a href="/">
                 <img src="https://cdn1.iconfinder.com/data/icons/cat-yoga-pose-and-asana-meditation-zen-namaste/100/pose11-512.png" alt="">
                 </a>
              </span>
    <p>нажмите на котика, чтобы вернуться на главную страницу</p>
  </div>
</main>


</body>
</html>