<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
    <div th:replace="layouts/header :: header"></div>
    <div class="presentation">
        <img th:src="@{/icon/logo.png}">
        <h2>Составь свою последовательность</h2>
        <p>Составь свою последовательность</p>
    </div>
<main class="container">

    <div class="asana">
        <div th:each="el : ${asana}" th:if="${!asana.isEmpty()}">
            <a th:href="'/asana/' + ${el.id}">
                <img th:src="${el.image}" th:alt="${el.title}">
            </a>
            <h3 th:text="${el.title}"></h3>
            <p th:text="${el.info}"></p>

          <form method="post" th:action="@{'/cart-asanas/' + ${el.id} + '/add'}">
              <button class="icon" type="submit">
                  <img th:src="@{/icon/adding.png}">
              </button>
            </form>
        </div>
    </div>

    <div th:if="${asana.isEmpty()}" class="block">
        <p>Нет Асан!!!</p>
    </div>


</main>
    <div th:replace="layouts/footer :: footer"></div>


</body>
</html>