<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <div th:replace="layouts/header :: header"></div>
    <div class="presentation">
        <img src="https://cdn1.iconfinder.com/data/icons/dompicon-glyph-fitness-diet/256/meditation-yoga-retreat-fitness-diet-512.png">
        <h2>Yoga</h2>
        <p>Here very cool!!!</p>
    </div>
<main class="container">
    <div class="asana">
        <div th:each="el : ${asana}" th:if="${!asana.isEmpty()}">
            <a th:href="'/asana/' + ${el.id}"><img th:src="${el.image}" th:alt="${el.title}"></a>
            <h3 th:text="${el.title}" />
            <p th:text="${el.info}" />


            <div>
                <p><a  th:href="@{/cart-asanas/} + ${users.id}">Последовательности пользователя</a></p>
            </div>
<!--            <a th:href="@{/cart-asanas/8}" class="edit-btn">add</a>-->
<!--            <form method="get" th:action="@{'/cart-asanas/' + '8'}">-->
<!--                <button type="submit">Добавить</button>-->
<!--            </form>-->

        </div>

    </div>
    <div th:if="${asana.isEmpty()}" class="block">
        <p>Нет Асан!!!</p>
    </div>


</main>
    <div th:replace="layouts/footer :: footer"></div>


</body>
</html>