<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <link rel="stylesheet" th:href="@{/styles/main.css}">

</head>
<body>
<div th:replace="layouts/header :: header"></div>


<main class="container">

  <form class="form" method="post" th:action="@{user-comment}">
    <textarea type="text" name="comment" th:text="${user_comment}" placeholder="Введите комментарий"></textarea>
    <div class="error" th:text="${error}"></div>
    <button class="button" type="submit">Обновить данные</button>
  </form>


</main>
<!--<div th:replace="layouts/footer :: footer"></div>-->


</body>
</html>