<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
  <div th:replace="layouts/favicon :: favicon"></div>
  <link rel="stylesheet" th:href="@{/styles/main.css}">

</head>
<body>
<div th:replace="layouts/header :: header"></div>


<main class="container">
  <div class="block-user">
    <h1>Комментарий пользователя:</h1>
    <h3 th:text="${user_comment}"></h3>
  </div>

  <div class="cartAsana">
    <div th:each="el : ${user_asanas}" th:if="${!user_asanas.isEmpty()}">
      <img th:src="${el.asana.image}" th:alt="${el.asana.title}"></a>
      <h3 th:text="${el.asana.title}"></h3>
    </div>
  </div>
  <div th:if="${user_asanas.isEmpty()}" class="block">
    <h4>Еще нет Асан</h4>
  </div>


</main>


</body>
</html>