@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}


.asana, .cartAsana, .showAsana {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    float: left;
    background: rgb(251, 220, 192);

}


.asana > div, .cartAsana > div{
    justify-content: flex-start;
    width: 328px;
    height: 600px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    background: rgb(252, 236, 221);
    padding: 1px;
    box-sizing: content-box;
}

.asana > div a img, .cartAsana > div img{
    max-width: 100%;
    height: 250px;
    max-height: 250px;
}


.asana > div h3, .cartAsana > div h3{
    max-width: max-content;
    color: rgb(243, 75, 2);
    padding: 5px;
    margin: 7 px 0 ;
    font-size: 25px;
}

.asana > div p{
    max-width: max-content;
    color: rgb(64, 42, 11);
    padding: 5px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.asana > div form button img, .cartAsana > div form button img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: rgb(252, 236, 221);
}

.cartAsanaComment div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    float: left;
    border: 2px solid rgb(18, 17, 17);
}

.cartAsanaComment  h4{
    padding: 30px 5px;
    margin-top: 10px;
    font-size: 25px;
    text-align: left;
    background: rgb(254, 188, 128);
    color: rgb(64, 42, 11);
    width: 100%;
    border: 2px solid rgb(64, 42, 11);

}

.cartAsanaComment  a{
    border: 2px solid rgb(64, 42, 11);
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: 45%;
    position: relative;
    top: 10px;
    text-decoration: none;
    width: 100%;
    background: rgb(254, 188, 128);
    color: rgb(243, 75, 2);
}


body{
    background-color:rgb(251, 220, 192);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.block {
    margin-top: 20px;
    width: 100%;
    border: 2px solid rgb(64, 42, 11);
    border-bottom-width: 2px;
    background: rgb(254, 188, 128);
    line-height: 100%; 
    text-align: center;
}

.block h1 {
    margin-top: 20px;
    padding: 10px;

}

.block h3{
    padding-top: 20px;
    color: rgb(242, 67, 67);
    font-size: 34px;
}

.block h4{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.block p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}

.block-user {
    margin-top: 20px;
    width: 100%;
    border: 2px solid rgb(64, 42, 11);
    border-bottom-width: 2px;
    background: rgb(254, 188, 128);
    line-height: 100%; 
    text-align: center;
}

.block-user h1{
    color: rgb(64, 42, 11);
    padding: 10px 10px;
}

.block-user h3{
    padding: 10px 10px;
    color: rgb(64, 42, 11);
}

.block-admin {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 20px;
    width: 30%;
    border: 2px solid rgb(64, 42, 11);
    background: rgb(254, 188, 128);
}

.block-admin h1{
    color: rgb(64, 42, 11);
    padding: 10px 10px;
}

.block-admin h3{
    padding: 10px 10px;
    color: rgb(64, 42, 11);
}

.block-admin span{
    padding: 10px 0px;
    color: rgb(243, 75, 2);
}

.block-admin a {
    padding: 10px 25px;
    border-radius:15px;
    color: rgb(64, 42, 11);
    border: 0;
    cursor: pointer;
    text-decoration: none;
    transition: background 500ms ease ;
    background: rgb(254, 188, 128);
    border: 2px solid rgb(64, 42, 11);

}

.block-admin a:hover{
    background: rgb(251, 220, 192);
}

.block-about-us{
    margin-top: 20px;
    width: 100%;
    border: 2px solid rgb(64, 42, 11);
    border-bottom-width: 2px;
    background: rgb(254, 188, 128);
    line-height: 100%; 
    text-align: left;
}

.block-about-us p { 
    text-indent: 10px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 17px;
    line-height: 27px;
    color: rgb(64, 42, 11);
}

.block-about-us h1{
    margin-left: 25px;
    margin-top: 10px;
    font-size: 22px;
    color: rgb(243, 75, 2);
    text-decoration: none;
}

.block-about-us a {
    color: rgb(64, 42, 11);
}

.block-about-us a:hover{
    color: rgb(50, 33, 9);
}

.form{
    padding: 25px 30px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.form h1 {
    margin-top: 20px;
    padding: 10px;
}

.form input{
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(241, 220, 220);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    resize: none;
    padding: 10px 15px;
    margin-top: 20px;
}

.form textarea {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    border: 1px solid rgb(241, 220, 220);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    resize: none;
    padding: 10px 15px;
    margin-top: 20px;
}


.cartAsana > div{
    margin-top: 50px;
    height: 390px; 
}

.icon {
    float: right;
    background-color:rgb(252, 236, 221);
    border: 1px solid rgb(252, 236, 221);    
}


header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    padding: 15px;
}

.header{
    box-sizing: border-box;
    width: 100%;
}

header nav a{
    font-size: 19px;
    color: rgb(64, 42, 11);
    margin-left: 20px;
    transition: color 500ms ease;
    text-decoration: none;
    position: relative;
    top: 80px;
    
}

header nav a:hover{
    color: rgb(243, 75, 2);
    border: 2px solid rgb(243, 75, 2);
    border-radius: 20px;
    padding: 0 5px ;
}


.button, .edit-btn{
    padding: 10px 25px;
    border-radius:5px;
    color: rgb(243, 75, 2);
    border: 0;
    cursor: pointer;
    transition: background 500ms ease ;
    background: rgb(254, 188, 128);
    border: 2px solid rgb(64, 42, 11);

}

.login-form h1{
    margin-top: 20px;
    margin-left: 130px;
}

.login-form h2{
    font-size: 25px;
    padding: 15px 30px;
    margin-left: 100px;
}

.login-form h4{
    padding: 10px 30px;
    margin-left: 100px;
}

.login-form span{
    font-size: 22px;
    color: rgb(243, 75, 2);
}

.logo img{
    width: 130px;
    height: 119px;

}

.sortedButton{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    float: left;
    background: rgb(251, 220, 192);
    margin-left: 17px;
}

.sortedButton div {
   justify-content: flex-start;
    width: 100%;
    height: max-content;
    margin-bottom: 15px;
    background: rgb(252, 236, 221);
    padding: 1px;
}

.sortedButton a{
    padding: 5px 15px;
    border: 1px solid rgb(64, 42, 11); 
    margin-bottom: 25px;
    margin-left: 8px;
    background: rgb(254, 188, 128);
    color: rgb(64, 42, 11);
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
}

.sortedButton a:hover{
    background: rgb(242, 121, 70);
    color: rgb(76, 54, 22);

}

.presentation{
    float: left;
    width: 100%;
    background:rgb(254, 188, 128);
    padding: 50px 100px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.presentation h2 {
    color: aliceblue;
    font-size: 35px;
    padding-top: 90px;
}

.presentation p{
    color: rgb(243, 75, 2);
    font-size: 54px;
    padding-top: 7px;
    max-width: 380px;
}
.presentation img{
    float: right;
    width: 300px;
} 


.showAsana div img {
    margin-top: 50px;
    margin-left: 450px;
    border: 2px solid rgb(64, 42, 11);
    width: 800px;
    height: 600px;
}
.showAsana div h3 {
    justify-content: flex-start;
    max-width: 805px;
    font-size: 36px;
    color: rgb(243, 75, 2);
    margin-left: 450px;
    max-height: max-content;
    box-sizing: content-box;
}

/* .showAsana div h4{
    justify-content: flex-start;
    color: rgb(64, 42, 11);
    max-height: max-content;
    box-sizing: content-box;
    border: 2px solid rgb(64, 42, 11);
    font-size: 22px;
    width: 96%;
    margin-left: 25px;
    margin-top: 30px;
    padding: 10px 10px;
} */

.showAsana div h5{
    justify-content: flex-start;
    color: rgb(18, 130, 29);
    max-height: max-content;
    box-sizing: content-box;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 30px;
    padding-bottom: 5px;
}

.showAsana div h4{
    justify-content: flex-start;
    color: rgb(64, 42, 11);
    max-height: max-content;
    box-sizing: content-box;
    font-size: 16px;
    width: 96%;
    margin-left: 25px;
    
}

.showAsana div h6{
    justify-content: flex-start;
    color: rgb(144, 20, 20);
    max-height: max-content;
    box-sizing: content-box;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 30px;
    padding-bottom: 5px;
}

.showAsana div h2 { 
    margin-left: 25px;
    margin-top: 50px;
    font-size: 19px;
    color: rgb(64, 42, 11);
}

.showAsana div h2 b{
    font-size: 19px;
    color: rgb(243, 75, 2);
}

.showAsana div p{
    justify-content: flex-start;
    max-height: max-content;
    box-sizing: content-box;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(64, 42, 11);
    margin-top: 40px;
}


.showAsana a , .showAsana form button {
    margin-left: 25px;
    margin-top: 10px;
    padding: 10px 25px;
    border-radius:5px;
    color: rgb(243, 75, 2);
    cursor: pointer;
    text-decoration: none;
    transition: background 500ms ease ;
    background: rgb(254, 188, 128);
    border: 2px solid rgb(64, 42, 11);
    
}

.showAsana a:hover{
    background: rgb(251, 220, 192);
}


.error{
    font-family: 'Montserrat', sans-serif ;
    color: rgb(243, 19, 11);
    font-size: 20px;
    padding-bottom: 10px;
}


footer{
    float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 25px;
    font-weight: 600;
    text-align: left;
}



