@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.asana, .cartAsana, .showAsana {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    float: left;
}


.asana > div, .cartAsana > div {
    justify-content: flex-start;
    width: 328px;
    height: 600px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    background: indianred;
    padding: 1px;
    box-sizing: content-box;
}

.asana > div a img, .cartAsana > div img{
    max-width: 100%;
    height: 250px;
    max-height: 250px;
}


.asana > div h3, .cartAsana > div h3{
    max-width: max-content;
    color: rgb(201, 248, 154);
    padding: 5px;
    margin: 7 px 0 ;
    font-size: 25px;
    text-decoration: underline whitesmoke;
}

.asana > div p{
    max-width: max-content;
    color: beige;
    padding: 5px;
}

.asana > div form button img, .cartAsana > div form button img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: indianred;
}

.cartAsanaComment div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    float: left;
    border: 2px solid rgb(18, 17, 17);
}

.cartAsanaComment  h4{
    padding: 30px 5px;
    margin-top: 10px;
    font-size: 25px;
    text-align: left;
    background: rgb(173, 171, 173);
    width: 100%;
    border: 2px solid rgb(18, 17, 17);

}

.cartAsanaComment  a{
    border: 2px solid rgb(18, 17, 17);
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: 45%;
    position: relative;
    top: 10px;
    text-decoration: none;
    width: 100%;
    background: rgb(127, 241, 136);
    color: rgb(10, 11, 11);
}


body{
    background-color: rgb(178, 172, 171);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.block {
    margin-top: 20px;
    width: 100%;
    border: 2px solid rgb(18, 17, 17);
    border-bottom-width: 2px;
    background: rgb(210, 218, 217);
    line-height: 100%; 
    text-align: center;
}

.block h1 {
    margin-top: 20px;
    padding: 10px;

}

.block h3{
    padding-top: 20px;
    color: rgb(242, 67, 67);
    font-size: 34px;
}

.block h4{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.block p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}

.block-admin {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 20px;
    width: 30%;
    border: 2px solid rgb(18, 17, 17);
    background: rgb(210, 218, 217);
}

.block-admin h1{
    color: coral;
    padding: 10px 10px;
}

.block-admin h3{
    padding: 10px 10px;
    color: rgb(18, 19, 16);
}

.block-admin span{
    padding: 10px 0px;
    color: rgb(111, 158, 17);
}

.block-admin a {
    padding: 10px 25px;
    border-radius:15px;
    color: rgb(247, 218, 181);
    border: 0;
    cursor: pointer;
    transition: background 500ms ease ;
    background: rgb(36, 93, 36);
}

.block-admin a:hover{
    color: rgb(132, 132, 0);
    background: rgb(34, 50, 0);
}


.form{
    padding: 25px 30px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.form h1 {
    margin-top: 20px;
    padding: 10px;
}

.form input{
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgb(241, 220, 220);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    resize: none;
    padding: 10px 15px;
    margin-top: 20px;
}

.form textarea {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    border: 1px solid rgb(241, 220, 220);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    resize: none;
    padding: 10px 15px;
    margin-top: 20px;
}


.cartAsana > div{
    margin-top: 50px;
    height: 390px; 
}

.icon {
    float: right;
    background-color: indianred;
    border: 1px solid indianred;    
}


header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    padding: 15px;
}

.header{
    box-sizing: border-box;
    width: 100%;
}

header nav a{
    font-size: 19px;
    color: rgb(67, 99, 64);
    margin-left: 20px;
    transition: color 500ms ease;
    text-decoration: none;
    position: relative;
    top: 80px;
    
}

header nav a:hover{
    color: rgb(195, 248, 248);
    border: 2px solid rgb(195, 248, 248);
    border-radius: 20px;
    padding: 0 5px ;
}


.button, .edit-btn{
    padding: 10px 25px;
    border-radius:5px;
    color: antiquewhite;
    border: 0;
    cursor: pointer;
    transition: background 500ms ease ;
    background: rgb(38, 83, 40);
}

.login-form h1{
    color: cornflowerblue;
    margin-top: 20px;
    margin-left: 130px;
}

.login-form h2{
    font-size: 25px;
    padding: 15px 30px;
    margin-left: 100px;
}

.login-form h4{
    padding: 10px 30px;
    margin-left: 100px;
}

.login-form span{
    font-size: 22px;
    color: rgb(23, 135, 23);
}

.logo img{
    width: 130px;
    height: 119px;
}

.logo img {
    width: 130px;
    height: 119px;
}

.presentation{
    float: left;
    width: 100%;
    background:rgb(77, 77, 60);
    padding: 50px 100px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.presentation h2 {
    color: aliceblue;
    font-size: 35px;
    padding-top: 90px;
}

.presentation p{
    color: thistle;
    font-size: 54px;
    padding-top: 7px;
    max-width: 380px;
}
.presentation img{
    float: right;
    width: 300px;
    position: relative;
    top: 58px;
} 


/* .showAsana div {
    /* justify-content: flex-start;
    width: 100%;
    height: max-content;
    background: yellow; */
/* } */ 

.showAsana div img {
    margin-top: 50px;
    margin-left: 450px;
    border: 2px solid thistle;
    width: 800px;
    height: 600px;
}
.showAsana div h3 {
    justify-content: flex-start;
    max-width: 805px;
    font-size: 36px;
    text-decoration-line: underline ;
    color: rgb(20, 13, 20);
    margin-left: 450px;
    max-height: max-content;
    box-sizing: content-box;
}

.showAsana div h4{
    justify-content: flex-start;
    /* background: aquamarine; */
    max-height: max-content;
    box-sizing: content-box;
    font-size: 24px;
    margin-left: 25px;
    margin-top: 40px;
}

.showAsana div p{
    justify-content: flex-start;
    max-height: max-content;
    box-sizing: content-box;
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
    /* background: violet; */
    margin-top: 40px;
}

.showAsana div h2 { 
    margin-left: 25px;
    margin-top: 50px;
    font-size: 32px;
    color: black;
}

.showAsana div h2 b{
    font-size: 29px;
    color: cadetblue;
}

.showAsana a ,.showAsana form button {
    margin-left: 25px;
    margin-top: 10px;
    padding: 10px 25px;
    border-radius:5px;
    color: antiquewhite;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    transition: background 500ms ease ;
    background: rgb(38, 83, 40);
}

.showAsana a:hover{
    background: cadetblue;
    color: brown;
}

/* .showAsana form button {
    margin-left: 25px;
    margin-top: 10px;
    padding: 10px 25px;
    border-radius:5px;
    color: antiquewhite;
    border: 0;
    cursor: pointer;
    transition: background 500ms ease ;
    background: rgb(38, 83, 40);
} */

.error{
    font-family: 'Montserrat', sans-serif ;
    color: rgb(164, 30, 3);
    font-size: 20px;
    padding-bottom: 10px;
}


footer{
    float: left;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}



